* {
    color: white;
}

.display-classe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.display-classe-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.display-class {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
h2, h3{
    text-transform: capitalize;
    align-self: center;
}
.builds {
    display: flex;
    flex-direction: column;
}

.build-1,
.build-2,
.build-3 {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gear-sets {
    font-size: 14px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
.bar-1 > img,
.bar-2 > img {
    width: 50px;
    border-radius: 0%;
}



@media screen and (min-width:1000px){
    .display-classe-container > .classe-img{
        width: 80%;
        align-self: center;
        border-radius: 50px;
    }

    .intro,
    .pros-cons,
    .consumables,
    .character-stats{
        margin: 25px 125px;
        font-size: 1.3rem;
    }
    table, th, td {
        font-size: 1.3rem;
    }
    .skills{
        margin: 40px 0;
    }
    .bar-1 > img,
    .bar-2 > img  {
        width: 70px;
    }
}


@media screen and (min-width:1000px){
    .display-classe-container > .classe-img{
        width: 70%;

    }
    .pros-cons,
    .consumables,
    .character-stats{
        margin: 25px 250px;
    }
}